@charset "utf-8";
/*
 * Page name
 * Copyright 2020
 * Author
 * Licensed
 */
/* -------------------------- *\
    Content
\* -------------------------- */
 /**
 * Content ............ You are reading it!
 * Globel ............ Set common styles
 * Layout ............ Set grid styles
 * Component ............ Set component styles
 */

*{
    box-sizing: border-box;
    position: relative;
}
html,body{
    font-family: '微軟正黑體', 'Comic Sans MS';
    background-color: #F1F1F1;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}


.row{

}
.row:after{
    content: '';
    display: block;
    clear: both;
}

.col-lg-6,.col-lg-4,.col-lg-3,.col-lg-12{
    float: left;
}
.col-lg-3{
    width: 25%;
}
.col-lg-4{
	width: 33.333333%;
}
.col-lg-6{
	width: 50%;
}
.col-lg-12{
	width: 100%;
}

.container{
    padding-left: 10%;
    padding-right: 10%;
}
.container2{
    padding-left: 15%;
    padding-right: 15%;
}

.navbar{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 500;
    width: 100%;
    height: 60px;
    background-color: #E0E0E0;
}
.navbar .title{
    float: left;
    font-size: 30px;
    padding-top: 12px;
    padding-left: 20px;
}
.navbar ul{
    float: right;
}
.navbar li{
    float: left;
    font-size: 24px;
    padding: 16px 20px;
}
.navbar li:hover a{
    text-decoration: underline;
}
.navbar li a .active{
    text-decoration: underline;

}

.pi{
    text-align: center;
    padding-top: 100px;
}
.pi .head{
    display: inline-block;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color:#C4C4C4;
}
.pi .name{
    padding-top: 40px;
    font-size: 32px;
}
.pi .mail, .pi .github, .pi .phone, .pi .country{
    padding-top: 15px;
    font-size: 20px;
}
.pi .github a:hover{
    text-decoration: underline;    
}

.title_zh-tw{
    display: inline-block;
    font-size: 32px;
}
.title_en{
    display: inline-block;
    font-size: 20px;
}
.des{
    margin-top: 15px;
    border-top: 3px solid #000;
}

.summary{
    padding-top: 100px;
}
.summary .para{
    width: 100%;
    height: 200px;
    margin-top: 15px;
    background-color: #C4C4C4;
}
.summary .des{
    margin-right: 20px;
}

.skill{
    padding-top: 100px;
}
.skill .JS, .skill .HTML, .skill .CSS{
    margin-right: 20px;
    margin-top: 15px;
    border-top: 3px solid #000;
}
.skill .Version_Control, .skill .Testing, .skill .JSS{
    margin-right: 20px;
    margin-top: 150px;
    border-top: 3px solid #000;
}
.skill .title{
    width: 100%;
    height: 200px;
    margin-top: 15px;
    background-color: #C4C4C4;
}

.work{
    padding-top: 100px;
}
.work .des{
    margin-right: 20px;
}
.work .para{
    width: 100%;
    height: 500px;
    margin-top: 15px;
    background-color: #C4C4C4;
}
.work .pic{
    width: 100%;
    height: 500px;
    margin-top: 15px;
    background-color: #C4C4C4;
}