@charset "utf-8";
/*
 * Page name
 * Copyright 2020
 * Author
 * Licensed
 */
/* -------------------------- *\
    Content
\* -------------------------- */
 /**
 * Content ............ You are reading it!
 * Globel ............ Set common styles
 * Layout ............ Set grid styles
 * Component ............ Set component styles
 */

*{
    box-sizing: border-box;
    position: relative;
}

html,body{
    font-family:  '微軟正黑體';
    background-color: #fff;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}


.row{

}
.row:after{
    content: '';
    display: block;
    clear: both;
}

.col-lg-6,.col-lg-4,.col-lg-3,.col-lg-12{
    float: left;
}
.col-lg-3{
    width: 25%;
}
.col-lg-4{
	width: 33.333333%;
}
.col-lg-6{
	width: 50%;
}
.col-lg-12{
	width: 100%;
}

.container{
    padding-left: 8%;
    padding-right: 8%;
}
.container2{
    padding-left: 10%;
    padding-right: 10%;
}

.head{
    background-size: contain;
}
.navbar{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 500;
    width: 100%;
    height: 60px;
    background-image: url('../image/fv_bg.jpg');
    background-size: cover;
}
.navbar .title{
    float: left;
    font-size: 30px;
    padding-top: 12px;
    padding-left: 20px;
}
.navbar ul{
    float: right;
}
.navbar li{
    float: left;
    font-size: 24px;
    padding: 16px 20px;
}
.navbar li:hover a{
    text-decoration: underline;
}
.navbar li a.active{
    text-decoration: underline;

}

.title{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pi{
    text-align: center;
    padding-top: 100px;
}
.pi .head{
    display: inline-block;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color:#C4C4C4;
}
.pi .name{
    padding-top: 40px;
    font-size: 32px;
    font-weight: bold;
}

.title_zh-tw{
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
}
.title_en{
    display: inline-block;
    font-size: 26px;
    font-weight: bold;
}
.des{
    border-top: 3px solid #D2B071;
}

.summary{
    padding-top: 100px;
    padding-bottom: 100px;
}
.summary .des{
    margin-right: 20px;
}
.summary .para{
    display: inline-block;
    width: 100%;
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    padding: 0 8%;
}

.skill{
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url('../image/bg_pattern.jpg');
    background-size: 200px 200px;
}
.skill .skill_one .title,
.skill .skill_two .title{
    font-size: 24px;
    font-weight: bold;
}
.skill .front, .skill .backend, .skill .Version_Control{
    margin-right: 20px;
    margin-bottom: 50px;
    padding-top: 20px;
    border-top: 3px solid #D2B071;
}
.skill .icon{
    float: left;
    width: 25%;
    height: 100px;    
    background-size: contain;
    background-repeat: no-repeat;
    margin: 5px;
}
.skill .three{
    float: left;
    left: 12%;
    width: 100%;
}
.skill .para{
    display: inline-block;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}
.skill .react, .skill .Testing, .skill .JSS{
    margin-right: 20px;
    padding-top: 20px;
    border-top: 3px solid #D2B071;
}
.skill .react .icon{
    left: 38%;
}


.work{
    padding-top: 100px;
}
.work .des{
    margin-right: 20px;
}
.work .des:nth-child(1){
    padding: 0 10%;
}
.work .para{
    width: 100%;
    font-size: 20px;
    padding-top: 20%;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
}
.work .image-container{
    width: 100%;
}
.work .image-container:before{
    content: '';
    display: block;
    width: 100%;
    padding-top: 75%;
}
.work .pic{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    margin-top: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3px;
    box-shadow: 0px 0px 20px -20px rgba(0,0,0,0.75);

    transition: all 0.8s;
}
.work .pic:hover{
    transform: scale(1.05);
}
.work .pic2{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    margin-top: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 3px;
    box-shadow: 0px 0px 20px -20px rgba(0,0,0,0.75);

    transition: all 0.8s;
}
.work .pic2:hover{
    transform: scale(1.05);
}
.work .center{
    width: 100%;
    text-align: center;
    padding-top: 5%;
}
.work .link{
    font-size: 20px;
    font-weight: bold;
    color: #D2B071;
    padding: 10px;
}
.work a:hover{
    text-decoration: underline;
}
.work .row .title{
    font-size: 30px;
    color: #D2B071;
}

.footer{
    background-image: url('../image/bg_pattern.jpg');
    background-size: 200px 200px;

    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer .des{
    text-align: center;
    vertical-align: center;
    padding-top: 10%;
    margin-right: 20px;
}
 .mail,  .github,  .phone,  .country{
    padding-top: 15px;
    font-size: 20px;
    font-weight: bold;
}
.footer .github a:hover{
    text-decoration: underline;    
}
.footer .contactme{
    text-align: center;
}
.footer .contactme input{
    margin-top: 15px;
    margin-right: 15px;
    box-shadow: 0px 0px 20px -13px rgba(0,0,0,0.75);
    border: 1px solid #CCCCCC;

}
.footer .contactme .name{
    margin-right: 10px;
}
.footer .contactme .name,
.footer .contactme .phonee{
    width: 200px;
    height: 40px;
}
.footer .contactme .email{
    width: 415px;
    height: 40px;
}
.footer .contactme .message{
    width: 415px;
    height: 150px;
}
.footer .contactme .send{
    width: 415px;
    height: 40px;
    font-size: 26px;
    margin-top: 15px;
    margin-right: 15px;
    background-image: url('../image/bg_pattern.jpg');
    background-size: 200px 200px;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    box-shadow: 0px 0px 20px -13px rgba(0,0,0,0.75);
    transition: 0.5s;
    font-weight: bold;
}
.footer .contactme .send:hover{
    border: 1px solid #000;
}
@media screen and (max-width: 1100px){
    .col-md-12{
        width: 100%;
    }
    .col-md-6{
        width: 50%;
    }
    .work .des{
        padding: 15%;
    }
    .work .para{
        padding: 0;
    }
    .footer .des{
        padding-bottom: 10%;
    }
    .footer .contactme{
        padding-top: 10%;
    }
}

.owl-theme .owl-dots button.owl-dot.active span{
    background-color: #D2B071;
}
.pt-100{
    padding-top: 100px;
}